*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #2d3436;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  /* Primary Colors */
  --color-primary: #5b6a6e;
  --color-primary-light: #aab5b8;
  --color-primary-light-hover: #889193;
  --color-primary-dark: #16191a;
  /* Secondary Colors */
  --color-secondary-light: #7c7167;
  --color-secondary-dark: #3b3631;
  /* Tertiary Colors */
  --color-tertiary-green: #14a76c;
  --color-tertiary-green-hover: #108656;
  --color-tertiary-orange: #ff652f;
  --color-tertiary-orange-hover: #cc5126;
  --color-tertiary-grey: #a5a5a5;
  --color-tertiary-grey-hover: #848484;
  --color-tertiary-lightgrey: #ddd;
}

/*
================================
 Content

================================
*/

/* General Elements */

/* Buttons */
.btn {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-dark);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-light-hover);
}

/* Class Modifiers */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: all 400ms;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  height: 100%;
  padding: 1rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
}
/* Head Label */
.main .head__label--title {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}
.main .content__container--hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 22rem;
  padding: 0.5rem;
  margin: 2rem 0;
}
.main .content__nav--options {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 1rem;
  margin: 0 auto;
}
/* Nav btn */
.main .nav__btn--new {
  padding: 1rem;
  font-weight: 600;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 *
 */

.main__content .container__item {
  width: 14rem;
  height: 18rem;
  padding: 12px;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  background-color: white;
  border: 3px solid var(--color-secondary-light);
  border-radius: 5px;
  transition: all 700ms;
}
.main__content .container__item:hover {
  transform: scale(110%);
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 * * * * * * * Item
 *
 *
 */

.main__content .container .item__label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__content .container .item__label--author {
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-secondary-dark);
  text-align: right;
}
.main__content .container .item__label--title {
  height: 5rem;
  font-size: 1.3rem;
}
.main__content .container .item__label--pages {
  height: 2rem;
  padding: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 5px;
}
.main__content .container .item__label--rating {
  height: 2rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}
.main__content .container .item__btn {
  margin: 0 3px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid var(--color-secondary-dark);
}
.main__content .container .item__btn--remove {
  display: inline-block;
  background-color: var(--color-tertiary-orange);
  border-radius: 12px;
}
.main__content .container .item__btn--remove:hover {
  background-color: var(--color-tertiary-orange-hover);
}
.main__content .container .item__btn--status {
  background-color: var(--color-tertiary-grey);
  border-radius: 25%;
  transition: background-color 400ms;
}
.main__content .container .item__btn--status:hover {
  background-color: var(--color-tertiary-grey-hover);
}
.main__content .container .item__btn--status-active {
  background-color: var(--color-tertiary-green);
}
.main__content .container .item__btn--status-active:hover {
  background-color: var(--color-tertiary-green-hover);
}

/* 
 *
 * Modal
 *
 *
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 400ms;
  transform: translate(-50%, -50%);
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}
.modal__label--title {
  max-width: 90%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.modal__form--book {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 12px;
  align-items: center;
  margin: 0 12px;
}

/* 
 *
 * Modal
 *
 * * * Form
 *
 *
 */

.modal .form__label {
  font-size: 1.2rem;
  font-weight: 500;
}
.modal .form__input {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--color-tertiary-lightgrey);
  border-radius: 0.5rem;
}
.modal .form__input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.modal .form__btn--submit {
  grid-column: 1 / span 2;
  justify-self: center;
  padding: 1.25rem 4.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid black;
  background-color: white;
}
