*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: #272727;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  --color-btn-status: #a5a5a5;
  --color-btn-status-active: #14a76c;
  --color-btn-remove: #ff652f;
  --color-form-input: #ddd;
}

/*
================================
 Content

================================
*/

/* General Elements */

/* Buttons */
.btn {
  font-family: inherit;
  cursor: pointer;
}

/* Class Modifiers */

.hidden {
  visibility: hidden;
  opacity: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  transition: all 400ms;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  padding: 1rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__label--title {
  width: 100%;
  padding: 12px;
  font-size: 3.1rem;
  color: white;
}
.main .content__container--hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 22rem;
  padding: 12px;
  font-family: inherit;
  font-size: 1rem;
}
.main .content__nav--options {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 *
 */

.main__content .container__item {
  width: 14rem;
  height: 18rem;
  padding: 12px;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 700ms;
}
.main__content .container__item:hover {
  transform: scale(110%);
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Container
 *
 * * * * * * * Item
 *
 *
 */

.content__container .item__label--author {
  min-height: 2rem;
  font-size: 1rem;
  font-style: italic;
  color: grey;
  text-align: right;
}
.content__container .item__label--title {
  min-height: 5rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.content__container .item__label--pages {
  min-height: 1rem;
  padding: 3px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
}
.content__container .item__label--rating {
  margin: 1rem 0;
  font-size: 1.5em;
}
.content__container .item__btn {
  margin: 0 3px;
  font-size: 1rem;
  font-family: inherit;
  text-transform: uppercase;
  cursor: inherit;
  border: 2px solid black;
}
.content__container .item__btn--remove {
  display: inline-block;
  background-color: var(--color-btn-remove);
  border-radius: 12px;
}
.content__container .item__btn--status {
  background-color: var(--color-btn-status);
  border-radius: 50%;
  transition: all 400ms;
}
.content__container .item__btn--status-active {
  background-color: var(--color-btn-status-active);
  border-radius: 25%;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Nav
 *
 *
 */

.main__content .nav__btn {
  width: 30%;
  margin: 5px;
}

/* 
 *
 * Sidebar
 *
 *
 */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 20rem;
  height: 100%;
  font-size: 1rem;
  background-color: aliceblue;
}
.sidebar__label--title {
  padding: 12px;
  font-size: 1.5em;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}
.sidebar__list {
  height: 30rem;
  padding: 5px;
  margin: 1rem;
  overflow: auto;
  list-style-position: inside;
  list-style-type: square;
  background-color: black;
  border-radius: 5px;
}
.sidebar__btn--new {
  display: block;
  margin: 10px auto;
}

/* 
 *
 * Sidebar
 *
 * * * List
 *
 *
 */

.sidebar .list__item {
  width: 15rem;
  padding: 12px;
  margin: 12px;
  overflow-wrap: break-word;
  background-color: white;
  border-radius: 3px;
}

/* 
 *
 * Modal
 *
 *
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 90%;
  max-width: 40rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 400ms;
  transform: translate(-50%, -50%);
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}
.modal__label--title {
  max-width: 90%;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.modal__form--book {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 12px;
  align-items: center;
  margin: 0 12px;
  font-size: 1rem;
}

/* 
 *
 * Modal
 *
 * * * Form
 *
 *
 */

.modal .form__label {
  font-size: 1.2em;
  font-weight: 500;
}
.modal .form__input {
  padding: 0.5rem 1.5rem;
  font-size: 1.2em;
  border: 1px solid var(--color-form-input);
  border-radius: 0.5rem;
}
.modal .form__input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.modal .form__input--note {
  display: block;
  padding: 1rem;
  margin: 12px auto;
  width: 60%;
  height: 22rem;
}
.modal .form__btn--submit {
  padding: 1.25rem 4.5rem;
  margin-top: 1rem;
  border: 1px solid black;
}
.modal--note .form__btn--submit {
  display: block;
  margin: 0 auto;
}
.modal--book .form__btn--submit {
  grid-column: 1 / span 2;
  justify-self: center;
}
